.sidebar {
  font-weight: 500;
  background: #fff;
  height: 100vh;
  width: max-content;
  position: fixed;
  top: 0;
  left: 0;
  align-self: start;
  margin-top: 18px;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding: 2rem 1rem;
}

.sidebar li {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding: 1rem;
  border-radius: 8px;
}

.sidebar li img {
  width: 22px;
}

.active-menu {
  border-radius: 8px;
  font-weight: 700;
  background: #f3effb;
  color: #5d1ebf;
}
