.hero-container {
  /* overflow: hidden; */
  width: 100%;
}

.hero-banner {
  width: fit-content;
}

.event-container {
  /* display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  gap: 1em; */
  position: relative;
};

.event-container .event-details {
  /* width: 70%;
  border-right: 1px solid rgba(0, 0, 0, 0.1); */
}

.cardicon {
  max-width: 20px;
  max-height: 20px;
}

.club-admin-img {
  width: 64px;
  height: 64px;
}

.event-links {
  border-top: 1px solid #E0E2E0;
  padding-top: 10px;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.eventpage-buttons button {
  padding: 16px 0;
  font-size: 16px;
  border-radius: 8px;
}

.eventpage-footer-line {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.desktop-event-name {
  display: none;
}

.event-comments {
  margin-bottom: 100px;
}

.comment-textarea {
  font-family: 'Raleway';
  font-size: 18px;
  padding: 18px;
  box-sizing: border-box;

  width: 745px;
  height: 116px;
  left: 40px;
  top: 1352px;

  border: 1px solid #E0E2E0;
  border-radius: 8px;
}