.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.authButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

li {
  list-style-type: none;
}

button {
  padding: 0.6rem;
}
